* {
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	background-color: #606468;
	color: white;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 1.6em;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	float: right;
	display: inline-block;
	margin: 10px;
}
a {
	color: white;
	font-size: 15px;
	line-height: 30px;
}
.profile-pic {
	width: 125px;
	height: 125px;
	border-radius: 100px;
}
.container {
	margin-bottom: 50px;
}
.score {
	text-transform: bold;
}
.number {
	text-transform: bold;
}
.row {
	margin-bottom: 4px;
}
.btn-primary {
	background-color: #003366;
}
