<!DOCTYPE html> 
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
	<div class="container">
		<div class="navigation-bar">
			<ul class="nav">
	  			<li><a href="default.asp">SIGN OUT</a></li>
	  			<li><a href="news.asp">PROFILE</a></li>
	  			<li><a href="contact.asp">HOME</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<img src="scalacat.png"class="profile-pic">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<h3>William Ryan Kusnadi</h3>
				<p>Biography and stuff</p>
				<p>kwilliamryan@yahoo.com</p>
				<p>NUS Computer Science Student</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<h5 class="number">No of Interviews</h5>
			</div>
			<div class="col-xs-2 ">
				<h5 class="score">Average Score</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<h5 class="number">27</h5>
			</div>
			<div class="col-xs-2">
				<h5 class="score">75</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<button class="btn btn-info btn-block">View History</button>
			</div>
		</div>
	</div>
</body>
</html>