<!DOCTYPE html> 
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
	<div class="container">
		<div class="navigation-bar">
			<ul class="nav">
	  			<li><a href="default.asp">SIGN OUT</a></li>
	  			<li><a href="news.asp">PROFILE</a></li>
	  			<li><a href="contact.asp">HOME</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<img src="scalacat.png"class="profile-pic">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<h3>William Ryan Kusnadi</h3>
				<p>Biography and stuff</p>
				<p>kwilliamryan@yahoo.com</p>
				<p>NUS Computer Science Student</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<h5 class="number">No of Interviews</h5>
			</div>
			<div class="col-xs-2 ">
				<h5 class="score">Average Score</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<h5 class="number">27</h5>
			</div>
			<div class="col-xs-2">
				<h5 class="score">75</h5>
			</div>
		</div>
		<div class="row">
			<div class="btn-group">
			  <button type="button" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    VIEW INTERVIEWS <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="#">INTERVIEW 1</a></li>
			    <li><a href="#">INTERVIEW 2</a></li>
			    <li><a href="#">INTERVIEW 3</a></li>
			    <li><a href="#">INTERVIEW 4</a></li>
			  </ul>
			</div>
		</div>
	</div>
</body>
</html>