<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="user.css">
</head>
<body>
	<div class="container">
		<div class="navigation-bar">
			<ul class="nav">
	  			<li><a href="default.asp">REGISTER</a></li>
	  			<li><a href="default.asp">SIGN IN</a></li>
	  			<li><a href="news.asp">ABOUT</a></li>
	  			<li><a href="contact.asp">HOME</a></li>
			</ul>
		</div>
	</div>
</body>
</html>