* {
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	background-color: #606468;
	color: white;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	float: right;
	display: inline-block;
	margin: 10px;
}
a {
	color: white;
	font-size: 15px;
	line-height: 30px;
}